<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hobbies</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
  <nav>
    <input type="checkbox" id="sidebar-active">
    <label for="sidebar-active" class="open-sidebar-button">
      <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
    </label>
    <label id="overlay" for="sidebar-active"></label>
    <div class="links-container">
      <label for="sidebar-active" class="close-sidebar-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
      </label>

      <a href="index.html">Brynne Geittmann</a> 
      <a href="hobbies.html">Hobbies</a> 
      <a href="projects.html">Projects</a>
      <a href="resume.html">Resume</a>
      
    </div>
  </nav>

  <h1>Art</h1>
    <div class="grid-container">
      <div class="card">
        <img src="../resources/images/PXL_20250430_133354564.jpg" alt="Lily pad plates" >
      </div>
      <div class="card">
        <img src="../resources/images/PXL_20250421_150907934~2.jpg" alt="Painting of a woman with orange paper flowers covering her eyes" >
      </div>
      <div class="card">
        <img src="../resources/images/PXL_20241210_162019763.jpg" alt="A self portrait with the top half of the face torn off and flower petals along the edge." >
      </div>
    </div>
  <h1>Games</h1>
      <div class="grid-container">
      <div class="card">
        <img src="../resources/images/cuphead.jpg" alt="Cuphead" >
      </div>
      <div class="card">
        <img src="../resources/images/hollowknight-1124x1520h.png" alt="Hollow Knight">
      </div>
      <div class="card">
        <img src="../resources/images/Screenshot 2026-09-16 144009.png" alt="Minecraft">
      </div>
    </div>
  <h1>Books</h1>
      <div class="grid-container">
      <div class="card">
        <img src="../resources/images/MTTS.jpg" alt="Cover of The Mountain In the Sea" >
      </div>
      <div class="card">
        <img src="../resources/images/TVLW.webp" alt="Cover of The Long Way To a Small, Angry Planet">
      </div>
      <div class="card">
        <img src="../resources/images/systems red.jpg" alt="Cover of All Systems Red">
      </div>
    </div>
</body>
</html>
